<div>
  <div class="chat-container">
    <div class="chat-header">
      <h2>My Chat</h2>
    </div>

    <div class="chat-window">
      <div class="chat-message">
        <div class="message-bubble">
          <div class="message-sender">
            <h1> Gerónimo</h1>
          </div>
          <p>
            Buenas!
          </p>
        </div>

      </div>
      <div class="chat-message">
        <div class="message-bubble">
          <div class="message-sender">
            
          </div>
          <p>
            Hola Gerónimo. ¿Como estas?
          </p>
        </div>

      </div>
      <div id="messages"></div>

    </div>

    <div class="chat-input-container">
      <input type="text" placeholder="Nombre" name="name" id="name" />
      <input
        type="text"
        placeholder="Escriba un mensaje..."
        name="message"
        id="message"
      />
      <button id="send" type="button" class="btn btn-primary">Enviar</button>
    </div>
    <div>
      <h2>Volver al <a href="/">incio</a></h2>
    </div>
  </div>

</div>