<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Commerce</title>
  </head>
  <body>
    <div>
      <h1>Hola, Bienvenidos a mi primer E-Commerce</h1>
    </div>
    <div>
        <p>Registrate en nuestro formulario <a href="form">formulario</a></p>
    </div>
    <div>
        <h2>Visita nuestros <a href="prods">productos</a></h2>
    </div>
  </body>
</html>