<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Commerce</title>
  </head>
  <body>
    <div>
      <h1>Hola, Bienvenidos a mi primer E-Commerce</h1>
    </div>
    <div>
        <p>Registrate en nuestro formulario <a href="/api/form">formulario</a></p>
    </div>
        <h2>Estos son nuestros productos</h2>

       <div>
        {{#each products}}
            <p>Título: {{products.title}}</p>
            <p>Price: {{products.price}}</p>
        {{/each}}
        Hola
    </div>
  </body>
  <script src="../routes/view.router.js"></script>
</html>